#sommaire {
    
    background: url(../IMAGE/anael.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}
header{
    padding-top: 0px;
    background: url(../IMAGE/cave.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 800px;
    padding-bottom: 0px;
}
#information {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 5px;
    
} 
    
ul{
    margin: 0;
    padding: 0;
    justify-content: space-between;
    vertical-align: super;
    display: flex;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-left: 5px;
    background-color: #e0dcea;

}


h4, h5{
    text-align: center;
}

.presentations {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-bottom: 5px;
    padding: 10px 0px 100px 0;
    margin-top: 20px;
    text-align: center;
    
}
.image {
    height: 300px;
    width: 300px;
    margin: 10px;
    z-index: 0;
    
    display: inline-flex;
}
div a {
    text-decoration: none;
    color:white;
}
#resume {
    text-shadow: 0px 0px 8px #faf9f8;
}
#peuple {
    
    text-align: center;
    font-size: 40px;
    color: #524a3a;
    /*background-color: rgb(175, 225, 234);*/
}
section div h4 {
    font-size: 150px;
    color: #524a3a;
    font-family: monospace;
}
section div p {
    font-size: 50px;
   
}
header nav div {
    text-align:center;
    color: aquamarine;
}
header div div h1 {
    text-decoration: underline;
}
/* **************** FOOTER **************** */
footer {
    background-color: #524a3a;
    color: #fffae1;
    padding: 20px 10px 10px 0;
    margin-top: 500px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
form {
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: "Advent Pro", sans-serif;
    border-radius: 8px;
}
textarea {
    height: 100px;
}
button {
    font-size: 1.5em;
    background-color: #fffae1;
}
button:hover {
    background-color: #e55039;
    color: #fffae1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#photo2{
    display: flex;
    margin: auto;
    text-align: center;
}


#copyright {
    width: 50%;
    text-align: left;
    color: #fffae1;
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}



#contact {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h5{

    color:rgb(23, 145, 238);
    font-family:italique;
    margin: 100px;
    display:flex
}



@media screen and (max-width:1440px){
    section div h4{
        font-size: 22px;
    }
}
@media screen and (max-width:1024px){
    section div h4{
        font-size: 20px;
        display: flex;
    }
    section div p{
        font-size: 16px;
        display: flex;
    }
}
@media screen and (max-width:412px){
    header{
        background: url(../IMAGE/cave.jpg) no-repeat fixed 50% 50%;
        background-size: cover;
        height: 800px;
        width: 400px;
    }
    section div h4{
        font-size: 22px;
    }
    section div p{
        font-size: 24px;
        display: flex;
    }
    .image{
        height: 200px;
        width: 200px;
    }
    #photo2{
        width: 400px;
       }
    #peuple{
        font-size: 34px;
    } 
}